body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #be1515;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: rgb(115, 131, 116);
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  font-family: 'Patua One',cursive;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  
  color: chrome;
  border-top: 1px black;
  padding: 10px;
  padding-top: 30px;
}


.past {
  background-color: #d3d3d3;
  color: #000;
}

.present {
  background-color: #ff6961;
  color: #000;
}

.future {
  background-color: #77dd77;
  color: #000;
}

.saveButton {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #0ab304;
  color: white;
}

.saveButton i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
